[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "ml-ahb-gen"]
	path = ml-ahb-gen
	url = https://github.com/rbarzic/ml-ahb-gen.git
[submodule "adv_debug_sys"]
	path = adv_debug_sys
	url = https://github.com/rbarzic/adv_debug_sys.git
	branch = master
[submodule "wisbone_2_ahb"]
	path = wisbone_2_ahb
	url = https://github.com/rbarzic/wisbone_2_ahb.git
	branch = master
[submodule "apb_bridge"]
	path = apb_bridge
	url = https://github.com/rbarzic/apb-bridge.git
[submodule "libraries/imported/nangate45"]
	path = libraries/imported/nangate45
	url = git@github.com:rbarzic/platform_nangate45.git
