[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "ml-ahb-gen"]
	path = ml-ahb-gen
	url = https://github.com/rbarzic/ml-ahb-gen.git
[submodule "adv_debug_sys"]
	path = adv_debug_sys
	url = https://github.com/rbarzic/adv_debug_sys.git
