# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.pyc
*.pyc
/sim/verilog/*.bin
/sim/verilog/*.vmem
/sim/verilog/*.vmem32
/sim/verilog/*.lst
/sim/verilog/*.hex
/sim/verilog/*.hex2
/sim/verilog/*.log
